body {
    background-image: url('Age-Calculator.jpg');
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    position: relative;
}

#start-button {
    font-family:'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 1.5rem;
    width: fit-content;
    position: absolute;
    bottom:-500px; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset the element by its own width and height */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: no1px solid #f2ff00;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 187, 0);
    box-sizing: border-box;
}
#start-button:hover {
    background-color: white;
    color: #4CAF50;
    box-shadow: 0 0 10px #ffffff;
    border: 5px solid #4CAF50;
    border-radius: 5px;
    box-sizing: border-box;
}

#start-button{
    background-color:#4CAF50;
}

.calculator {
    display:none;
    position: relative;
    background-color: #f0ceffce;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}

.yellow{
    color:yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px black;
    font-size: 2rem;
}

.white-blue{
    color:#00ffb3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px black;
    font-size: 2rem;
}

#birth-year{
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

#close-button{
    position:absolute;
    right: 0;
    top:0;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 50%;
    background-color: red;
    font-size:1.5rem;
    font-weight: 400;
}

#close-button:hover{
    color:red;
    background-color: white;
    border: 1px solid red;
}

input, button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.result {
    position: absolute;
    display: none;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin-top: 20px;
   background-color: rgba(80, 53, 108, 0.967);
   box-shadow: 0 0 10px rgb(0, 255, 68);
   color: #37ff00;
   padding: 10px;
}

#warning{
    color:red;
    font-size: 16px;
}