body {
    background-image: url('Age-Calculator.jpg');
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    position: relative;
}

#start-button {
    width: fit-content;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the element by its own width and height */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    /* Initial shadow effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
    /* Animation */
    animation: shadowPulse 1.5s infinite alternate;
}

/* Define the keyframes for the animation */
@keyframes shadowPulse {
    0% {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}


.calculator {
    display:none;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

input, button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}